<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionVehiculos_Ev_Final.Properties.Settings.GestionVehiculosConnectionString"
            connectionString="Data Source=LAPTOP-L6SUJ856\ALWAYSDEV;Initial Catalog=GestionVehiculos;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>